name: .NET Core

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Setup .NET Core
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: 3.1.301
    - name: Install dependencies
      run: dotnet restore TestMe/TestMe.csproj
    - name: Build
      run: dotnet build TestMe/TestMe.csproj --configuration Release --no-restore
    - name: Publish
      run: dotnet publish TestMe/TestMe.csproj --configuration Release --no-build --output publish
